body{
	background: url("images/backgrounds/dark-suede.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}

#Bio{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.tilt{
	font-style: italic;
}

.green{
	color: green;
}

h4{
	color: blue;
}

#end{
	border: solid;
	border-color: white;
	width: 15%;
	margin: 0 auto;
}

.navbar-fixed-top {
   background-color: rgba(245, 245, 245, 0.6);
}
@media screen and (min-width:701px){
img {
    max-width: 20%;
		height: auto;
}
}


@media screen and (max-width: 700px) and (min-width:0px){

		img {
				max-width: 40%;
				height: auto;
		}
}
