body{
	background: url("images/backgrounds/Spring Break 7.jpg");
	background-size: cover;
	padding-top: 70px;
	text-align: center;
}

h5{
	position: fixed;
	bottom: 0;
}

h1,h2,h5,p{
	color: white;
}

#below_pic{
	width: 38%;
	margin: 0 auto;
}

#Bioo{
	margin: 0 auto;
	font-size: 300%;
	border: dashed;
	border-color: white;
	width: 30%;
}

.navbar-fixed-top {
   background-color: rgba(245, 245, 245, 0.6);
}

.footer{
		position: fixed;
		text-align: center;
		bottom: 0px;
		width: 100%;
}

.navbar .nav-collapse .nav {
color:          lightgray;
text-shadow:    none;
}

@media screen and (min-width:701px){
	img {
	    max-width: 20%;
			height: auto;
	}
}


@media screen and (max-width: 700px) and (min-width:0px){
	img {
			max-width: 40%;
			height: auto;
	}
}
