body{
	background: url("images/backgrounds/Spring Break 7.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 70px;
	text-align: center;
	height: 100%;
	background-attachment: fixed;
}

h5{
	position: fixed;
	bottom: 0;
}

h1,h2,p{
	color: white;
}

#loading_box{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000000;
}

#loading{
	width:50px;
	height: 50px;
	border: 5px solid #ccc;
	border-top-color: #ff6a00;
	border-radius: 100%;
	/*centering*/
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	/*animation!*/
	animation: round 1.4s ease infinite;
}

@keyframes round{
	from{transform: rotate(0deg)}
	to{transform: rotate(360deg)}
}


#below_pic{
	width: 38%;
	margin: 0 auto;
}

#Bioo{
	margin: 0 auto;
	font-size: 300%;
	border: dashed;
	border-color: white;
	width: 30%;
}

/* I took this out because the menu is hard to read in mobile mode.
 I will renable it when I figure out a fix.

.navbar-fixed-top {
   background-color: rgba(245, 245, 245, 0.6);
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height:400px;
}

.footer{
		position: static;
		width: 100%;
}


@media screen and (min-width:701px){
	img {
	    max-width: 20%;
			height: auto;
	}
}


@media screen and (max-width: 700px) and (min-width:0px){
	img {
			max-width: 40%;
			height: auto;
	}
}
*/